<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clt.sso.mapper.UserInfoMapper">

    <select id="findByTentIdAndUsrId" resultType="com.clt.sso.model.UserInfoModel">
        SELECT tent_id, usr_id, usr_nm, usr_pwd, usr_eml, act_flg,
               cre_dt, cre_usr_id, upd_dt, upd_usr_id,
               first_name, last_name, email_verified
        FROM sso_user
        WHERE tent_id = #{tentId} AND usr_id = #{usrId}
    </select>

    <select id="findByTentIdAndUsrNm" resultType="com.clt.sso.model.UserInfoModel">
        SELECT tent_id, usr_id, usr_nm, usr_pwd, usr_eml, act_flg,
               cre_dt, cre_usr_id, upd_dt, upd_usr_id,
               first_name, last_name, email_verified
        FROM sso_user
        WHERE UPPER(tent_id) = UPPER(#{tentId}) AND usr_nm = #{usrNm}
    </select>

    <select id="findByUsrNm" resultType="com.clt.sso.model.UserInfoModel">
        SELECT tent_id, usr_id, usr_nm, usr_pwd, usr_eml, act_flg,
               cre_dt, cre_usr_id, upd_dt, upd_usr_id,
               first_name, last_name, email_verified
        FROM sso_user
        WHERE usr_nm = #{usrNm} AND act_flg = 'Y'
    </select>

    <select id="findByEmail" resultType="com.clt.sso.model.UserInfoModel">
        SELECT tent_id, usr_id, usr_nm, usr_pwd, usr_eml, act_flg,
               cre_dt, cre_usr_id, upd_dt, upd_usr_id,
               first_name, last_name, email_verified
        FROM sso_user
        WHERE LOWER(usr_eml) = LOWER(#{usrEml}) AND act_flg = 'Y'
    </select>

    <select id="searchUsers" resultType="com.clt.sso.model.UserInfoModel">
        SELECT tent_id, usr_id, usr_nm, usr_pwd, usr_eml, act_flg,
               cre_dt, cre_usr_id, upd_dt, upd_usr_id,
               first_name, last_name, email_verified
        FROM sso_user
        <where>
            <if test="search != null and search != ''">
                UPPER(usr_nm) LIKE UPPER('%' || #{search} || '%')
                OR UPPER(usr_id) LIKE UPPER('%' || #{search} || '%')
                OR UPPER(usr_eml) LIKE UPPER('%' || #{search} || '%')
                OR UPPER(first_name) LIKE UPPER('%' || #{search} || '%')
                OR UPPER(last_name) LIKE UPPER('%' || #{search} || '%')
            </if>
        </where>
        ORDER BY tent_id, usr_nm
        LIMIT #{maxResults} OFFSET #{firstResult}
    </select>

    <select id="countUsers" resultType="int">
        SELECT COUNT(*)
        FROM sso_user
        <where>
            <if test="search != null and search != ''">
                UPPER(usr_nm) LIKE UPPER('%' || #{search} || '%')
                OR UPPER(usr_id) LIKE UPPER('%' || #{search} || '%')
                OR UPPER(usr_eml) LIKE UPPER('%' || #{search} || '%')
                OR UPPER(first_name) LIKE UPPER('%' || #{search} || '%')
                OR UPPER(last_name) LIKE UPPER('%' || #{search} || '%')
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="com.clt.sso.model.UserInfoModel">
        INSERT INTO sso_user (tent_id, usr_id, usr_nm, usr_pwd, usr_eml, act_flg,
                              cre_dt, cre_usr_id, upd_dt, upd_usr_id,
                              first_name, last_name, email_verified)
        VALUES (#{tentId}, #{usrId}, #{usrNm}, #{usrPwd}, #{usrEml}, #{actFlg},
                #{creDt}, #{creUsrId}, #{updDt}, #{updUsrId},
                #{firstName}, #{lastName}, #{emailVerified})
    </insert>

    <update id="updateUser" parameterType="com.clt.sso.model.UserInfoModel">
        UPDATE sso_user
        SET usr_nm = #{usrNm},
            usr_eml = #{usrEml},
            first_name = #{firstName},
            last_name = #{lastName},
            email_verified = #{emailVerified},
            act_flg = #{actFlg},
            upd_dt = #{updDt},
            upd_usr_id = #{updUsrId}
        WHERE tent_id = #{tentId} AND usr_id = #{usrId}
    </update>

    <update id="updatePassword">
        UPDATE sso_user
        SET usr_pwd = #{usrPwd},
            upd_dt = NOW()
        WHERE tent_id = #{tentId} AND usr_id = #{usrId}
    </update>

    <delete id="deleteUser">
        DELETE FROM sso_user
        WHERE tent_id = #{tentId} AND usr_id = #{usrId}
    </delete>

</mapper>
